.vscode

data/initial_dataset
data/extracted_features
data/composed_dataset

models/tf
models/torch

src/__pycache__

src/frameworks/detrac_tf/__pycache__
src/frameworks/detrac_tf/.ipynb_checkpoints

src/frameworks/detrac_torch/__pycache__
src/frameworks/detrac_torch/.ipynb_checkpoints

src/tools/__pycache__
src/tools/.ipynb_checkpoints