src/__pycache__
src/frameworks/detrac_tf/__pycache__
src/frameworks/detrac_torch/__pycache__
src/utils/__pycache__
src/frameworks/.ipynb*
src/utils/.ipynb*
src/.ipynb*
data/.ipynb*
data/initial_dataset/train
.vscode